<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="shelly.com.gifanimations">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".OpenAppPeriodically.RecieverToOpenAppDaily" android:exported="true">
            <intent-filter>
                <action android:name="shelly.com.gifanimations.wakeup">

                </action>
            </intent-filter>

        </receiver>

        <service android:name=".OpenAppPeriodically.ServiceToOpenAppDaily">
        </service>


        <receiver android:name=".PushbyTagManager.RecieverToSendNotification" android:exported="true">
            <intent-filter>
                <action android:name="shelly.com.gifanimations.localpush">

                </action>
            </intent-filter>

        </receiver>

        <service android:name=".PushbyTagManager.ServiceToRefreshTagManager">
        </service>

        <service android:name=".CustomService"/>

        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService" />
        <receiver
            android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PushNotification.PushFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".PushNotification.PushFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
